@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button{
        @apply font-bold py-2 px-4 rounded-lg ;
    }
}
.loader-login {
    color: #fff;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 78px;
    opacity: 0.8;
  }
  .loader-login:before {
    content: "{";
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
  }
  .loader-login:after {
    content: "}";
    display: inline-block;
    animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
  }

  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }
      
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #0d1117; /* Background color of the scrollbar track */
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #1f2933; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Round the corners */
    border: 3px solid #0d1117; /* Adds padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2b3a48; /* Darker shade on hover */
}

body{
    background-color:#010409;
    font-family: "Quicksand", sans-serif;
}
h1,h2,p,label,button {
    color: #fff;
}
html {
    scroll-behavior: smooth;
}