@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button{
        @apply font-bold py-2 px-4 rounded-lg ;
    }
}

body{
    background-color:#010409;
    font-family: "Quicksand", sans-serif;
}
h1,h2,p,label,button {
    color: #fff;
}